:root {
    --primary-color: #233D8B;
    --secondary-color: #EFF1F8;
    --accent-color: #FF6F61;
    --font-family: 'Arial', sans-serif;
}

.nav-container{
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.nav-links{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: end;
    height: 100%;
    width: 60%;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 20%;
}
.nav-link{
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.item_list{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-evenly;
    padding: 5rem;
}
.item_custom{
    width: 18rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
   ;
}
.img-size{
    height: 18rem;
    object-fit: cover;
}
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.counter-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-value {
  min-width: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.buy-btn {
  width: 120px;
}