.nav-container{
    background-color: #233D8B;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: #EFF1F8;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}